<ion-header>

  <ion-navbar color="fcmb">
    <ion-title text-center>
      <span text-color="my-custom-color">RETAIL</span>
    </ion-title>

  </ion-navbar>
  <ion-toolbar color="fcmb">
    <ion-segment [(ngModel)]="forms">
      <ion-segment-button value="a">
        FORM A
      </ion-segment-button>
      <ion-segment-button value="remittance">
        REMITTANCE
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <!-- Swipe -->
  <div class="main-content" (swipe)="swipe($event)">

    <!-- Segment Switchcase -->
    <div [ngSwitch]="forms">
      <ion-list  *ngSwitchCase="'a'">
          <div (click)="itemTapped(item)" [ngClass]="f.status"  class="general"  *ngFor="let f of FormArray">
            <h5>Beneficiary:{{f.name}}</h5>
            <h6>Form Number:{{f.formnumber}}</h6>
            <span>Created On:{{f.date}}</span>
          </div>
      </ion-list>

      <ion-list *ngSwitchCase="'remittance'">
          <div  [ngClass]="r.status" class="general"  *ngFor="let r of FormRemittance">
              <h5>Beneficiary:{{r.name}}</h5>
              <h6>Form Number:{{r.formnumber}}</h6>
              <span>Created On:{{r.date}}</span>
          </div>
      </ion-list>

    </div>

  </div>

    <!-- Fab -->
    <ion-fab right bottom>
        <button ion-fab color="fcmb2">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button class="button1" ion-button small round block tappable color="fcmb2" (click)="retailRemittanceForm()">
            <span style="font-weight:bold; color:white">REMITTANCE</span>
          </button>
  
          <button class="button2" ion-button small round block tappable color="fcmb2" (click)="retailForma()">
            <span style="font-weight:bold; color:white">FORM A</span>
          </button>
  
  
        </ion-fab-list>
      </ion-fab>

</ion-content>