page-addforms {
    .main-content {
        height: 100%;
      }

      [text-color="my-custom-color"] {
        color: #ffb822;
    }

      .segment-ios{
        width: 80%;
        margin: 5px auto;

    }

    

    .button1{
        margin-right: 10px;
        width: 50%;
        height: 30px;
        display: block;
    }

    .button2{
        margin-right: 30px;
        width: 50%;
        height: 30px;
        display: block;
    }
      
}
