page-forma {

    ion-content {
        background-color: rgba(92,38,132,1) !important;
    }

    [text-color="my-custom-color"] {
        color: #ffb822;
    }

    .item1{
        border: 1px solid #ffb822;
        background-color: rgba(255,184,34,0.75);
    }

    .item2{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item3{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .item4{
        border: 1px solid #ffb822;
        margin-top:20px;
        background-color: rgba(255,184,34,0.75);
    }

    .option {
        text-transform: capitalize;
    }
}
